@import "tailwindcss";

html, body, #root {
	height: 100%;
}

body {
	@apply bg-gradient-to-br from-slate-900 via-slate-800 to-slate-700 text-slate-100;
	font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.container {
	@apply max-w-4xl mx-auto px-4 py-8;
}